/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
 }
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Gloria Hallelujah', cursive;
}	
p{
	margin:0;
	font-size:14px;
}
ul{
	margin:0;
	padding:0;
}
.background-video {
	position: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height:100%;
}
/*-- banner --*/
input[type="submit"],.w3agile_contact_right_agileinfo p a,.w3_copy_right p a{
	transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	-ms-transition:.5s ease-in-out;
}
.center-container{
	padding:0em 0 8em;
	background: rgba(0, 0, 0, 0.28);
}
.navigation{
	padding:3em 0;
	background:#000;
}
.logo{
	float:left;
}
.navigation-right{
	float:right;
	margin: 1em 0 0;
}
.navigation-right ul li{
	display:inline-block;
}
.navigation-right ul li a{
	color:#fff;
    font-size:1em;
    text-decoration: none;
    padding: 10px 0;
	text-transform:uppercase;
}
.navigation-right ul li.active a{
	color:#EEE048;
}
.navigation {
    padding:1em 0em;
    background:rgba(0, 0, 0, 0.53);
}
span.menu{
	display:none;
}
/*-- nav-hover --*/
.link-effect-3 a {
	padding: 10px 0;
	margin: 0 20px;
	color: #797878;
	text-shadow: none;
	position: relative;
}
.link-effect-3 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #EEE048;
    color: #EEE048;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}
.link-effect-3 a:hover::before {
	max-width: 100%;
}
/*-- //nav-hover --*/
.w3ls_banner_info{
    padding: 10em 0 0;
	text-align:center;
}
.logo h1 a {
    font-size:1.5em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.w3l_banner_logo{
	width: 100px;
    height: 100px;
    border: 1px solid #fff;
    margin: 0 auto;
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	text-align: center;
}
.w3l_banner_logo h2{
	font-size: 5em;
    color: #fff;
    line-height: 1.3;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
}
.w3ls_banner_info h3{
	margin: 2em 0;
    font-size: 2em;
    color:#fff;
    text-transform: uppercase;
    line-height: 1.5em;
    padding-bottom: 1em;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.w3ls_banner_info h3:after{
	content:'';
	background:#96F070;
	height:1px;
	width:30%;
	position:absolute;
	bottom:0%;
	left:34%;
}
.w3ls_banner_info p{
	color:#fff;
	line-height:1.8em;
	margin-bottom:5em;
}
.modal-header {
    font-size: 2em;
    color:#4BC319;
}
.close {
    opacity: 1;
}
.more a:focus {
    outline: none;
}
.more a{
	font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 8px 40px;
    background: #4BC319;
    color: #fff;
}
.modal-body p {
    color: #999;
	padding:2em 2em 3em;
	margin: 0 !important;
}
.modal-body p i {
    display: block;
    margin: 2em 0 0;
}
.modal-body {
    padding:2em 0 0;
}
button.close {
    font-size: 1em;
    color: #212121;
}
/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
/*-- w3layouts --*/
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #3A9E10;
    height: 3px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
/*-- banner-bottom --*/
.banner-bottom{
	padding:5em 0 0;
}
.wthree_banner_bottom_right h3{
	text-transform: capitalize;
    font-size: 1.8em;
    color: #4BC319;
    line-height: 1.5em;
}
.wthree_banner_bottom_right p{
	margin:1em 0 3em;
	line-height:1.8em;
	color:#999;
}
.wthree_banner_bottom_right ol li{
	font-size: 14px;
    color: #212121;
    margin-bottom: 1.5em;
}
.banner-bottom-image-text-left{
	padding:5em 10em 6.95em 18em;
/*-- agileits --*/
	background:#EEE048;
}
.banner-bottom-image-text-right{
	padding:0;
}
.banner-bottom-image-text-right img {
    width: 100%;
}
.banner-bottom-image-text-left h3,.w3agile_contact_left h3,.agileits_about_grid_left h3{
	font-size: 2.5em;
    color: #212121;
    line-height: 1.5em;
    position: relative;
	padding-bottom:.5em;
	font-family: 'Open Sans', sans-serif;
}
.banner-bottom-image-text-left h3:before,.banner-bottom-image-text-left h3:after,.w3agile_contact_left h3:before,.w3agile_contact_left h3:after,.agileits_about_grid_left h3:before,.agileits_about_grid_left h3:after{
	content:'';
	background:#212121;
	height:1px;
	position:absolute;
}
.banner-bottom-image-text-left h3:before,.w3agile_contact_left h3:before,.agileits_about_grid_left h3:before{
	left: 0%;
    width: 15%;
    bottom: 0%;
}
.banner-bottom-image-text-left h3:after,.w3agile_contact_left h3:after,.agileits_about_grid_left h3:after{
	left: 0%;
    width: 30%;
    bottom: -4%;
}
.banner-bottom-image-text-left p{
	color:#3D3D3D;
	margin:3em 0;
	line-height:1.8em;
}
.banner-bottom-image-text-left h4{
	text-transform: capitalize;
    font-size: 1.5em;
    color: #5E5E5E;
    padding-left: 3em;
    line-height: 2em;
    position: relative;
}
.banner-bottom-image-text-left h4:before{
	content:'';
	background:url(../images/img-sp.png) no-repeat 0px 0px;
	display:block;
/*-- w3layouts --*/
	width:32px;
	height:32px;
	position:absolute;
	top:0%;
	left:0%;
}
/*-- //banner-bottom --*/
/*-- team --*/
.team,.gallery,.testimonials,.about{
	padding:5em 0;
}
.team h3,.team-bottom h3,.gallery h3,.testimonials h3{
	font-size: 2.5em;
    color: #4BC319;
    padding-bottom:.7em;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
	text-transform: capitalize;
}
.team h3:before,.team h3:after,.team-bottom h3:before,.team-bottom h3:after,.gallery h3:before,.gallery h3:after,.testimonials h3:before,.testimonials h3:after{
	background:#212121;
	height:1px;
	position:absolute;
	content:'';
}
.team h3:before,.team-bottom h3:before,.gallery h3:before,.testimonials h3:before{
	width: 5%;
    left: 47%;
    bottom: 0%;
}
.team h3:after,.team-bottom h3:after,.gallery h3:after,.testimonials h3:after{
	width: 13%;
    right: 44%;
    bottom: -5%;
}
p.nostrud{
	margin: 2em 0 0;
    color: #999;
    line-height: 1.8em;
    text-align: center;
}
.agile_team_grids{
	margin:3em 0 0;
}
.agile_team_grid h4{
	font-size:1.5em;
	color:#000;
	margin:1em 0 .5em;
/*-- agileits --*/
}
.agile_team_grid p{
	color:#999;
}
.agile_team_grid {
    text-align: center;
}
.view {
    margin: 0;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view,.view .mask,.view .content{
	width: 255px;
    height: 298px;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h5 {
	text-transform: capitalize;
    color:#EEE048;
    text-align: center;
    position: relative;
    font-size: 1.7em;
    margin:2.5em 0 .5em;
    font-family: 'Open Sans', sans-serif;
}
.view p {
   font-style: italic;
   line-height: 1.8em;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view-sixth img {
   -webkit-transition: all 0.4s ease-in-out 0.5s;
   -moz-transition: all 0.4s ease-in-out 0.5s;
   -o-transition: all 0.4s ease-in-out 0.5s;
   -ms-transition: all 0.4s ease-in-out 0.5s;
   transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask {
   background-color:rgba(34, 33, 33, 0.54);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
}
.view-sixth h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.agile_team_grid:hover .view-sixth .mask,.view-sixth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .view-sixth img,.view-sixth:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .view-sixth h5,.view-sixth:hover h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.agile_team_grid:hover .view-sixth p,.view-sixth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view-sixth .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.agile_team_grid:hover .view-sixth .agileits_social_icons,.view-sixth:hover .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
/*-- social-icons --*/
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span,.facebook span,.google-plus span,.pinterest span {
	background-color:#EEE048;
}
/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-twitter:before{
	background: url(../images/img-sp.png) no-repeat 10px -41px;
    display: block;
    content: '';
    width: 36px;
    height: 36px;
}
a.icon-button.twitter:hover .icon-twitter:before{
	background-position:10px -75px;
}
.icon-facebook:before{
	background:url(../images/img-sp.png) no-repeat -36px -41px;
    display: block;
    content: '';
    width: 36px;
    height: 36px;
}
a.icon-button.facebook:hover .icon-facebook:before{
	background-position:-36px -75px;
}
.icon-google-plus:before{
	background:url(../images/img-sp.png) no-repeat -76px -42px;
    display: block;
    content: '';
    width: 36px;
    height: 36px;
}
a.icon-button.google-plus:hover .icon-google-plus:before{
	background-position:-76px -75px;
}
/*-- //social-icons --*/
/*-- //team --*/
/*-- team-bottom --*/
.team-bottom{
	background:url(../images/7.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:500px;
	padding: 5em 0;
}
.team-bottom h3{
    color: #fff;
}
.team-bottom h3:before,.team-bottom h3:after{
	background:#fff;
}
.team-bottom p{
	color: #fff;
    width: 60%;
    margin:3em auto 4em;
    text-align: center;
    line-height: 1.8em;
}
.reservation{
	width:70%;
	margin:0 auto;
}
.w3_book_date{
	float:left;
	width:38.3%;
	position: relative;
}
.w3_working_time{
	float:left;
	width:27.3%;
	margin-left:2em;
	position: relative;
}
.w3_book_date span,.w3_working_time span {
    position: absolute;
    top: 1em;
    color: #fff;
    left: 1em;
}
.w3_book_date input[type="text"],#country,#country1{
	outline: none;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.34);
    color: #fff;
    padding:10px 10px 10px 40px;
    width: 100%;
    font-size: 14px;
}
select#country,select#country1{
    cursor: pointer;
}
.reservation input[type="submit"]{
	outline: none;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.34);
    color: #fff;
    padding: 10px 0;
    width: 34%;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 4em 0 0 20em;
}
.reservation input[type="submit"]:hover{
	background: #EEE048;
    border: 1px solid #BDAF21;
    color: #212121;
}
/*-- //team-bottom --*/
/*-- gallery --*/
.gallery {
    background: #F7F7F7;
}
.w3agile_gallery_grids {
    margin: 3em 0 0;
}
.w3agile_gallery_grid {
    padding: 0;
}
.w3agile_gallery_grid figure {
    margin: 0;
    padding: 0;
    height: 270.5px;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
.w3agile_gallery_grid figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}
.w3agile_gallery_grid figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
	top: -100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.w3agile_gallery_grid figcaption h4 {
    color: #EEE048;
    padding: 0px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    margin-top: 37px;
    font-size: 30px;
    margin: 2em 0 1em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    text-align: center;
	text-transform:capitalize;
}
.w3agile_gallery_grid figcaption p {
    font-family: 'Open sans';
    line-height: 1.8em;
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
.w3agile_gallery_grid figure:hover h4,.w3agile_gallery_grid figure:hover p {
    left: 0;
}
/*-- //gallery --*/
/*-- testimonials --*/
.testimonials-grids{
	margin:3em 0 0;
}
/*.nav-tabs > li > a {
    border-radius: 0;
    font-size: 1em;
    color: #999;
}
.nav-tabs > li.active {
    position: relative;
}
.nav-tabs > li.active:after {
    position: absolute;
    bottom:-100%;
    left: 27%;
    background: url(../images/1.png) no-repeat 0px 0px #fff;
    display: block;
    height: 38px;
    width: 27px;
    content: '';
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color:#000000;
	border: none;
}*/
div#myTabContent {
    padding: 3em 0 0;
}
/*.nav-tabs > li > a:hover {
    border: 1px solid transparent;
	color:#000000;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}
.nav-tabs > li {
    margin-bottom: 0;
}*/
.tabcontent-grids{
	text-align:center;
}
.tabcontent-grids h4{
	font-size:1em;
	color:#212121;
	margin:1em 0;
}
.tabcontent-grids h4 span{
	display:block;
	font-size:13px;
	color:#C6B26B;
	margin:.5em 0 0;
	font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.tabcontent-grids p{
	color:#999;
	line-height:1.8em;
	width:60%;
	margin:0 auto;
}
.tabcontent-grids img,.team-grid img {
	margin: 0 auto;
    padding: .4em;
    box-shadow: 0px 0px 5px #C7C7C7;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
/*.nav-tabs {
    width: 35%;
    margin: 0 auto;
}*/
.tabcontent-grids{
	padding:2em 0 0;
}
/*-- //testimonials --*/
/*-- contact --*/
.w3agile_contact_left{
	padding:5em 4em 5em 13em;
}
.w3agile_contact_right{
	padding:9.9em 13em 5em 5em;
}
.w3agile_contact_left{
	background:#F7F7F7;
}
.w3agile_contact_right{
	background:#5DCD2F;
}
.w3agile_contact_left p {
    color: #212121;
    margin: 4em 0 2em;
	line-height:1.8em;
}
.w3agile_contact_left input[type="text"],.w3agile_contact_left input[type="email"],.w3agile_contact_left textarea{
	outline:none;
	border:none;
	border-bottom:1px solid #212121;
	padding:10px;
	width:100%;
	font-size:14px;
	color:#212121;
	background:none;
}
.w3agile_contact_left textarea{
	min-height:45px;
	resize:none;
}
.w3agile_contact_left input[type="email"]{
	margin:2em 0;
}
.w3agile_contact_left input[type="submit"]{
	outline: none;
    border: none;
    padding: 10px 0;
    width: 30%;
    font-size: 14px;
    color: #fff;
    background: #4BC319;
    margin: 3em 0 0;
}
.w3agile_contact_left input[type="submit"]:hover{
	background:#EEE048;
	color:#212121;
}
.w3agile_contact_right h3 a{
	font-size:2em;
	color:#fff;
	text-decoration:none;
	text-transform: uppercase;
}
.w3agile_contact_right_agileinfo h4{
	font-size:2em;
	color:#212121;
	margin:0 0 1em;
}
.w3agile_contact_right_agileinfo p{
	color:#212121;
	line-height:1.8em;
	margin-bottom:1em;
}
.w3agile_contact_right_agileinfo p a{
	color:#212121;
	text-decoration:none;
}
.w3agile_contact_right_agileinfo p a:hover{
	color:#fff;
}
.w3agile_contact_right_agileinfo p span{
	left: 0em;
    padding-right: 2em;
}
.w3agile_contact_right_agileinfo {
    margin: 5em 0 0;
}
.w3agile_contact_right_agileinfo p i {
    font-style: normal;
    padding-left: 3em;
}
.w3_copy_right{
	margin:7.2em 0 0;
}
.w3_copy_right p{
	color:#212121;
	line-height:1.8em;
	text-align: right;
}
.w3_copy_right p a{
	color:#fff;
	text-decoration:none;
}
.w3_copy_right p a:hover{
	color:#212121;
}
.w3agile_contact_right_agileinfo:nth-child(3) {
    text-align: right;
}
/*-- //contact --*/
/*-- about --*/
.agileits_about_grid_left{
	margin:4em 0 0em;
}
.agileits_about_grid_left p{
	color:#999;
	line-height:1.8em;
	margin:3em 0 0;
}
/*-- //about --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-----start-responsive-design------*/
@media (max-width:1680px){
	.banner-bottom-image-text-left {
		padding: 5em 10em 8.95em 20em;
	}
}
@media (max-width:1600px){
	.banner-bottom-image-text-left {
		padding: 5em 10em 6.95em 18em;
	}
}
@media (max-width: 1440px){
	.banner-bottom-image-text-left {
		padding: 4em 10em 3.95em 11em;
	}
	.w3agile_gallery_grid figure {
		height: 243.5px;
	}
	.w3agile_gallery_grid figcaption h4 {
		font-size: 25px;
	}
	.w3_copy_right {
		margin:5.4em 0 0;
	}
	.w3agile_contact_left {
		padding: 5em 4em 5em 11em;
	}
	.w3agile_contact_right {
		padding: 9.8em 13em 5em 5em;
	}
}
@media (max-width: 1366px){
	.w3ls_banner_info {
		padding: 8em 0 0;
	}
	.w3ls_banner_info p {
		margin-bottom: 4em;
	}
	.center-container {
		padding: 0em 0 6em;
	}
	.banner-bottom-image-text-left {
		padding:3em 5em 3.2em 8em;
	}
	.team-bottom {
		min-height: 460px;
		padding: 4em 0;
	}
	.w3_book_date {
		width: 37.3%;
	}
	.w3agile_gallery_grid figure {
		height: 231.5px;
	}
}
@media (max-width: 1280px){
	.team, .gallery, .testimonials, .about {
		padding: 4em 0;
	}
	.banner-bottom {
		padding: 4em 0 0;
	}
	.banner-bottom-image-text-left {
		padding: 3em 3em 4.1em 5em;
	}
	.w3_book_date {
		width: 35.3%;
	}
	.w3_working_time {
		width: 28.8%;
	}
	.w3agile_gallery_grid figure {
		height: 216.5px;
	}
	.w3agile_gallery_grid figcaption p {
		font-size: 13px;
	}
	.w3agile_contact_left {
		padding: 4em 4em 4em 5em;
	}
	.w3agile_contact_right {
		padding:9.55em 3em 5em 4em;
	}
}
@media (max-width: 1080px){
	.w3ls_banner_info {
		padding: 6em 0 0;
	}
	.w3ls_banner_info h3 {
		margin: 2em 0 1.5em;
	}
	.center-container {
		padding: 0em 0 5em;
	}
	.wthree_banner_bottom_left {
		padding: 0;
	}
	.wthree_banner_bottom_right p {
		margin: 1em 0 1em;
	}
	.wthree_banner_bottom_right ol {
		padding: 0 0 0 1em;
	}
	.banner-bottom-image-text-left h4 {
		font-size:1.28em;
	}
	.banner-bottom-image-text-left p {
		margin: 2em 0;
	}
	.banner-bottom-image-text-left {
		padding:3em 3em 2.1em 3.7em;
	}
	.team h3:before, .team-bottom h3:before, .gallery h3:before, .testimonials h3:before {
		width: 9%;
		left:45.5%;
	}
	.team h3:after, .team-bottom h3:after, .gallery h3:after, .testimonials h3:after {
		width: 20%;
		right:40%;
	}
	.view, .view .mask, .view .content {
		width: 205px;
		height: 240px;
	}
	.view h5 {
		font-size: 1.4em;
		margin: 2em 0 .5em;
	}
	.wthree_banner_bottom_right h3 {
		font-size: 1.6em;
	}
	.reservation {
		width: 85%;
	}
	.w3_book_date {
		width: 32%;
	}
	.w3agile_gallery_grid figure {
		height: 181.5px;
	}
	.w3agile_gallery_grid figcaption h4 {
		font-size: 21px;
		margin-top: 25px;
	}
	.tabcontent-grids p {
		width: 80%;
	}
	.w3agile_contact_left {
		padding: 3em 2em 3em 3em;
	}
	.w3agile_contact_left p {
		margin: 3em 0 2em;
	}
	.w3agile_contact_right {
		padding:6.5em 3em 5.5em 3em;
	}
	.w3agile_contact_right_agileinfo h4 {
		font-size: 1.8em;
	}
	.w3agile_contact_right_agileinfo p span {
		padding-right: 1em;
	}
	.w3agile_contact_right_agileinfo p i {
		padding-left: 2em;
	}
	.w3agile_contact_right_agileinfo {
		padding: 0;
	}
}
@media (max-width: 1024px){
	.agileits_about_grid_left {
		margin: 2em 0 0em;
	}
	.banner-bottom-image-text-left h3, .w3agile_contact_left h3, .agileits_about_grid_left h3 {
		font-size:2em;
	}
	.banner-bottom-image-text-left h4 {
		font-size: 1.22em;
	}
	.banner-bottom-image-text-left {
		padding: 2em 3em 2.9em 3em;
	}
	.view h5 {
		margin: 1.7em 0 .5em;
	}
	.reservation input[type="submit"] {
		margin: 3em 0 0 20em;
	}
	.team-bottom {
		min-height: 420px;
		padding: 3em 0;
	}
	.w3_book_date {
		width: 31%;
	}
	.w3agile_gallery_grid figure {
		height: 172.5px;
	}
	.w3agile_gallery_grid figcaption h4 {
		font-size: 18px;
	}
	.w3agile_contact_right h3 a {
		font-size: 1.8em;
	}
	.w3agile_contact_right_agileinfo {
		margin: 3em 0 0;
	}
	.w3agile_contact_right_agileinfo h4 {
		font-size: 1.5em;
	}
	.w3agile_contact_right_agileinfo p span {
		padding-right: 1em;
	}
	.w3agile_contact_right_agileinfo p i {
		padding-left: 1em;
	}
	.w3_copy_right {
		margin: 7.3em 0 0;
	}
}
@media (max-width:991px){
	.logo h1 a {
		font-size: 1.2em;
	}
	.navigation-right {
		margin: 0.5em 0 0;
	}
	.link-effect-3 a {
		margin: 0 15px;
	}
	.w3l_banner_logo {
		width: 80px;
		height: 80px;
	}
	.w3l_banner_logo h2 {
		font-size: 4em;
	}
	.w3ls_banner_info {
		padding: 5em 0 0;
	}
	.w3ls_banner_info h3 {
		font-size: 1.5em;
	}
	.center-container {
		padding: 0em 0 4em;
	}
	.agileits_about_grid_left {
		margin: 0;
	}
	.agileits_about_grid_right {
		margin: 3em 0 0;
	}
	.agileits_about_grid_right img {
		margin: 0 auto;
	}
	.wthree_banner_bottom_left {
		padding: 0 1em;
		width: 50%;
		margin: 0 auto;
	}
	.wthree_banner_bottom_right {
		margin: 3em 0 4em;
	}
	.banner-bottom-image-text-left {
		padding: 3em 10em;
	}
	.banner-bottom-image-text-left p {
		margin: 3em 0;
	}
	.banner-bottom-image-text-left h3:after, .w3agile_contact_left h3:after, .agileits_about_grid_left h3:after {
		bottom: -8%;
	}
	.banner-bottom-image-text-right img {
		width: auto;
		margin: 0 auto;
	}
	.agile_team_grid {
		float: left;
		width: 50%;
	}
	.agile_team_grid:nth-child(2) {
		margin-bottom:3em;
	}
	.view, .view .mask, .view .content {
		width: 270px;
		height: 315px;
		margin: 0 auto;
	}
	.view h5 {
		margin: 2.7em 0 .5em;
		font-size: 1.7em;
	}
	.team h3:after, .team-bottom h3:after, .gallery h3:after, .testimonials h3:after {
		width: 25%;
		right: 37%;
		bottom: -8%;
	}
	.team-bottom p {
		width: 100%;
		margin: 2em auto 3em;
	}
	.reservation {
		width: 100%;
	}
	.team-bottom {
		min-height: 390px;
	}
	.w3agile_gallery_grid {
		float: left;
		width: 50%;
	}
	.w3agile_gallery_grid figure {
		height:333px;
	}
	.w3agile_gallery_grid figcaption h4 {
		font-size: 2em;
		margin-top: 105px;
	}
	/*.nav-tabs {
		width: 55%;
	}*/
	.tabcontent-grids p {
		width: 100%;
	}
	.w3agile_contact_left,.w3agile_contact_right {
		padding: 3em 10em;
	}
	.w3_copy_right {
		margin: 3em 0 0;
	}
}
@media (max-width:800px){
	.banner-bottom-image-text-left {
		padding: 3em 3em;
	}
	.w3agile_gallery_grid figure {
		height: 268px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 75px;
	}
}
@media (max-width:768px){
	.team, .gallery, .testimonials, .about {
		padding: 3em 0;
	}
	.team h3:after, .team-bottom h3:after, .gallery h3:after, .testimonials h3:after {
		width: 35%;
		right: 32%;
	}
	.team h3:before, .team-bottom h3:before, .gallery h3:before, .testimonials h3:before {
		width: 15%;
		left: 42.5%;
	}
	.reservation input[type="submit"] {
		margin: 3em 0 0 18em;
	}
	.w3agile_gallery_grid figure {
		height: 257px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 65px;
	}
	.tabcontent-grids {
		padding: 1em 0 0;
	}
	.w3agile_contact_left, .w3agile_contact_right {
		padding: 3em 3em;
	}
}
@media (max-width:667px){
	.logo h1 a {
		font-size: 1em;
	}
	.link-effect-3 a {
		margin: 0 10px;
	}
	.w3l_banner_logo h2 {
		font-size: 3em;
	}
	.w3l_banner_logo {
		width: 60px;
		height: 60px;
	}
	.w3ls_banner_info {
		padding: 4em 0 0;
	}
	.w3ls_banner_info h3 {
		font-size: 1.3em;
	}
	.w3ls_banner_info p {
		margin-bottom: 3em;
	}
	.center-container {
		padding: 0em 0 3em;
	}
}
@media (max-width:640px){
	.agileits_about_grid_left p {
		margin: 2em 0 0;
	}
	.wthree_banner_bottom_left {
		width: 70%;
	}
	.wthree_banner_bottom_right {
		margin: 3em 0 3em;
	}
	.reservation input[type="submit"] {
		margin: 2em 0 0 14em;
	}
	.w3agile_gallery_grid figure {
		height: 213px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 35px;
	}
	.w3agile_contact_right h3 a {
		font-size: 1.6em;
	}
	.modal-body p i {
		margin: 1em 0 0;
	}
	.team h3, .team-bottom h3, .gallery h3, .testimonials h3 {
		font-size: 2.3em;
	}
}
@media (max-width:600px){
	.navigation-right ul li a {
		font-size: 14px;
	}
	.link-effect-3 a {
		margin: 0 6px;
	}
	.navigation-right {
		margin: 0.3em 0 0;
	}
}
@media (max-width:568px){
	.logo h1 a {
		font-size: .9em;
	}
	.w3l_banner_logo h2 {
		font-size: 2em;
	}
	.w3l_banner_logo {
		width: 40px;
		height: 40px;
	}
	.w3ls_banner_info {
		padding: 2em 0 0;
	}
	.w3ls_banner_info p {
		margin-bottom: 2em;
	}
	.banner-bottom-image-text-left {
		padding: 2em 2em;
	}
	.agile_team_grid {
		float: none;
		width: 100%;
	}
	.agile_team_grid:nth-child(2) {
		margin: 2em 0;
	}
	.agile_team_grid:nth-child(3) {
		margin-bottom:2em;
	}
}
@media (max-width:480px){
	span.menu {
		display: block;
		cursor: pointer;
		width: 100%;
		position: relative;
		text-align: center;
		margin: 0px;
	}
	.navigation-right ul {
		position: absolute;
		left: 2%;
		width: 96%;
		z-index: 999;
		text-align: center;
		padding: 0px;
		margin: 13px 0px 0px;
	}
	.navigation-right ul.nav1 li {
		display: inline-block;
		width: 100%;
		margin: 0px;
		padding: 10px 0em;
	}
	ul.nav1 {
		display: none;
		margin-top: 2em;
		background:rgb(66, 66, 66);
	}
	.navigation-right {
		margin: 0.7em 0 0;
	}
	.navigation-right ul li a {
		display: inline-block;
	}
	.navigation-right ul.nav1 li {
		padding: 5px 0;
	}
	.team, .gallery, .testimonials, .about {
		padding: 2em 0;
	}
	.banner-bottom-image-text-left h3,.team h3, .team-bottom h3, .gallery h3, .testimonials h3, .w3agile_contact_left h3, .agileits_about_grid_left h3 {
		font-size: 1.8em;
	}
	.banner-bottom-image-text-left h3:after, .w3agile_contact_left h3:after, .agileits_about_grid_left h3:after {
		width: 42%;
	}
	.agileits_about_grid_left,.wthree_banner_bottom_right {
		padding: 0;
	}
	.wthree_banner_bottom_right {
		margin: 2em 0;
	}
	.agileits_about_grid_right,.agile_team_grids {
		margin: 2em 0 0;
	}
	.wthree_banner_bottom_right h3 {
		font-size: 1.4em;
	}
	.banner-bottom-image-text-left p {
		margin: 2em 0;
	}
	.team-bottom {
		padding: 2em 0;
	}
	.team-bottom p {
		margin: 2em auto;
	}
	.team-bottom{
		background-position: -350px 0px;
	}
	.w3_book_date {
		width: 100%;
		float: none;
	}
	.w3_working_time {
		width: 100%;
		float: none;
		margin: 0;
	}
	.w3_working_time:nth-child(2) {
		margin: 1em 0;
	}
	.reservation input[type="submit"] {
		margin: 2em 0 0 8em;
		width: 50%;
	}
	.w3agile_gallery_grid {
		float: none;
		width: 100%;
	}
	.w3agile_gallery_grids,.testimonials-grids,.w3_copy_right {
		margin: 2em 0 0;
	}
	.w3agile_gallery_grid figure {
		height: 317px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 110px;
	}
	/*.nav-tabs {
		width: 85%;
	}*/
	.w3agile_contact_left, .w3agile_contact_right {
		padding: 2em;
	}
	.w3agile_contact_left p {
		margin: 2em 0 2em;
	}
	.w3agile_contact_left input[type="submit"] {
		width: 50%;
		margin: 2em 0 0;
	}
	.w3agile_contact_right h3 a {
		font-size: 1.3em;
	}
	.w3agile_contact_right_agileinfo {
		margin: 2em 0 0;
		float: none;
		width: 59%;
	}
	.w3agile_contact_right_agileinfo p i {
		padding-left: 2em;
	}
	.w3agile_contact_right_agileinfo:nth-child(3) {
		text-align: left;
	}
}
@media (max-width: 414px){
	.banner-bottom-image-text-left h3:after, .w3agile_contact_left h3:after, .agileits_about_grid_left h3:after {
		width: 50%;
	}
	.banner-bottom-image-text-left h3:before, .w3agile_contact_left h3:before, .agileits_about_grid_left h3:before {
		width: 25%;
	}
	.team h3:after, .team-bottom h3:after, .gallery h3:after, .testimonials h3:after {
		width: 50%;
		right: 25%;
	}
	.team h3:before, .team-bottom h3:before, .gallery h3:before, .testimonials h3:before {
		width: 30%;
		left: 35.5%;
	}
	.banner-bottom-image-text-left h3, .team h3, .team-bottom h3, .gallery h3, .testimonials h3, .w3agile_contact_left h3, .agileits_about_grid_left h3 {
		line-height: 1.5em;
	}
	.reservation input[type="submit"] {
		margin: 1em 0 0;
		width: 100%;
	}
	.gallery {
		padding-left: 1em;
		padding-right: 1em;
	}
	.w3agile_gallery_grid figure {
		height: 252px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 70px;
	}
	.w3agile_contact_right_agileinfo {
		width: 70%;
	}
	.w3_copy_right p {
		text-align: center;
	}
}
@media (max-width:384px){
	.w3ls_banner_info h3 {
		font-size: 1.2em;
	}
	.wthree_banner_bottom_left {
		width: 90%;
	}
	.w3agile_gallery_grid figure {
		height: 232px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 55px;
		font-size: 1.8em;
	}
	.w3agile_contact_right_agileinfo {
		width: 80%;
	}
}
@media (max-width: 375px){
	.w3ls_banner_info h3 {
		font-size: 1.1em;
	}
	.navigation {
		padding: .5em 0em 1em;
	}
	.wthree_banner_bottom_left {
		width: 100%;
	}
	.wthree_banner_bottom_right h3 {
		font-size: 1.3em;
	}
	.wthree_banner_bottom_right ol li {
		margin-bottom: 1em;
	}
	.banner-bottom-image-text-left {
		padding: 2em 1em;
	}
	.banner-bottom-image-text-left h4 {
		font-size: 1em;
	}
	.team-bottom {
		background-position: -510px 0px;
	}
	.w3agile_gallery_grid figure {
		height: 226px;
	}
	.testimonials-grids {
		margin: 1em 0 0;
	}
	.w3agile_contact_left, .w3agile_contact_right {
		padding: 2em 1em;
	}
	.w3agile_contact_right h3 a {
		font-size: 1.1em;
	}
	.w3agile_contact_right_agileinfo {
		width: 76%;
	}
	.w3agile_contact_right_agileinfo h4 {
		font-size: 1.3em;
	}
	.modal-body p {
		padding: 1.5em;
	}
}
@media (max-width:320px){
	.logo h1 a {
		font-size: .8em;
	}
	.w3ls_banner_info h3 {
		font-size: .97em;
	}
	p,.wthree_banner_bottom_right ol li,.w3_book_date input[type="text"], #country, #country1,.w3agile_contact_left input[type="text"], .w3agile_contact_left input[type="email"],.w3agile_contact_left textarea{
		font-size: 13px;
	}
	.w3ls_banner_info p {
		margin-bottom: 1.5em;
	}
	.center-container {
		padding: 0em 0 2em;
	}
	.navigation-right ul li a {
		font-size: 13px;
		margin: 0;
	}
	.banner-bottom-image-text-left h3, .team h3, .team-bottom h3, .gallery h3, .testimonials h3, .w3agile_contact_left h3, .agileits_about_grid_left h3 {
		font-size: 1.6em;
	}
	.banner-bottom-image-text-left h3:after, .w3agile_contact_left h3:after, .agileits_about_grid_left h3:after {
		width: 55%;
	}
	.agileits_about_grid_left p {
		margin: 1.5em 0 0;
	}
	.agileits_about_grid_right {
		padding: 0;
	}
	.wthree_banner_bottom_right h3 {
		font-size: 1.1em;
	}
	.banner-bottom-image-text-left p {
		margin: 2em 0 1em;
	}
	.view, .view .mask, .view .content {
		width: 243px;
		height: 283px;
	}
	.view h5 {
		font-size: 1.5em;
	}
	.w3agile_gallery_grid figure {
		height: 188px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin-top: 25px;
		font-size: 1.5em;
	}
	.modal-header {
		font-size: 1.6em;
	}
	/*.nav-tabs {
		width: 100%;
	}
	.nav-tabs > li > a {
		padding: 10px;
	}*/
	div#myTabContent {
		padding: 2em 0 0;
	}
	.w3agile_contact_left p {
		margin: 2em 0 1em;
	}
}